flask
openai
python-dotenv
gunicorn  # Рекомендуется для production
langdetect # Если будешь использовать определение языка
beautifulsoup4 # Если будешь подключать обработку с сылок
requests # Если будешь подключать обработку с сылок
requests-html # Если будешь подключать обработку с сылок